{% set formStatus = craft.app.session.getFlash('lb-status-' ~ source.shortcode) %}
{% set formError = craft.app.session.getFlash('lb-status-error-' ~ source.shortcode) %}
<div class="lb-inline theme{{source.getConfigValue('theme')}}
    {{ formStatus ? 'lb-status--' ~ formStatus : '' }}
    {{ source.getConfigValue('labels') == 1 ? 'lb-inline--with-labels' : '' }}
    "
    >
    <form method="POST" class="lb-form"
        data-ajax-enabled="{{ source.getConfigValue('ajax') ? '1' : '0' }}"
        data-has-consent="{{ source.getConfigValue('consent') ? '1' : '0' }}"
        >
        <input type="hidden" name="action" value="list-builder/signup/store">
        <input type="hidden" name="source" value="{{ source.shortcode }}">
        {{ csrfInput() }}

        {####  Display  ####}
        {% if source.getConfigValue('title')|length %}
        <div class="lb-title">{{ source.getConfigValue('title') }}</div>
        {% endif %}
        {% if source.getConfigValue('text')|length %}
        <div class="lb-text">{{ source.getConfigValue('text') }}</div>
        {% endif %}

        {####  Fields  ####}
        <div class="lb-form-row lb-form-row--input">
            {% if source.getConfigValue('labels') == 1 %}
            <label class="lb-label" for="email-{{rand}}">Your Email</label>
            {% endif %}
            <input class="lb-input lb-input--email" type="email" id="email-{{rand}}" name="email" placeholder="Your Email">
        </div>

        {% if source.getConfigValue('consent') %}
        <div class="lb-form-row lb-form-row--checkbox">
            <input type='hidden' value='0' name='consent'> {# overidden by next input if it is checked #}
            <input class="lb-checkbox" type="checkbox" id="consent-{{rand}}" name="consent" value="1">
            <label class="lb-checkbox-label" for="consent-{{rand}}">
                {{ source.getConfigValue('consenttext')|length ? source.getConfigValue('consenttext')|raw : 'I consent to receive information about services and special offers by email.' }}
            </label>
        </div>
        {% endif %}

        {####  Submit  ####}
        <div class="lb-form-row lb-form-row--buttons">
            <button class="lb-submit" type="submit">
                {{ source.getConfigValue('submittext')|length ? source.getConfigValue('submittext') : 'Subscribe' }}
            </button>
        </div>

        {####  Success  ####}
        {% if source.getConfigValue('success-message')|length > 0 %}
        <div class="lb-success-message">{{ source.getConfigValue('success-message') }}</div>
        {% endif %}

        {####  Error  ####}
        <div class="lb-error-message">
            {{ formError }}
        </div>

    </form>
</div>
